{% if is_granted("ROLE_ADMIN") %}

{{ form_start(form) }}

<div>
    {{ form_label(form.name, "Nom du campus", {'label_attr': {'class': 'form-label'}}) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Ex: Nantes'}}) }}
    {{ form_errors(form.name) }}
</div>


<div>

    {{ form_rest(form) }}

    <button type="submit" class="btn btn-primary">
        {{ button_label|default('Enregistrer') }}
    </button>

    <a href="{{ path('campus_campus_list') }}" class="btn btn-secondary">Annuler</a>

</div>

{{ form_end(form, {'render_rest': false}) }}

{%  endif %}
