{% extends 'base.html.twig' %}

{% block title %}Liste des campus{% endblock %}

{% block body %}
    {% if is_granted("ROLE_ADMIN") %}
    <h1 class="mb-4">Liste des campus</h1>

    <h3>Filtrer les campus</h3>

    <form method="get" class="campus filter">
        <div>
            <label for="search" class="visually-hidden">Nom du campus</label>
            <input type="text"
                   id="search"
                   name="q"
                   class="form-control"
                   placeholder="Le nom contient..."
                   value="{{ app.request.query.get('q') }}">
            {# Le 'value' ci-dessus permet de laisser le mot tapé dans la barre après la validation #}
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Rechercher</button>
            {% if app.request.query.get('q') %}
                <a href="{{ path(app.request.attributes.get('_route')) }}" class="btn btn-secondary">Réinitialiser</a>
            {% endif %}
        </div>
    </form>

    <hr>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Ville</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for c in campus %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.name }}</td>
                <td>
                    <a href="{{ path('campus_edit', {id: c.id}) }}" class="btn btn-sm btn-warning">Modifier</a>

                    <form method="post" action="{{ path('campus_delete', {'id': c.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer le campus {{ c.name }} ?');" style="display: inline;">

                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ c.id) }}">

                        <button type="submit" class="btn btn-sm btn-danger">
                            Supprimer
                        </button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3" class="text-center">Aucun campus trouvé</td>
            </tr>
        {% endfor %}

{#        2. La dernière ligne pour l'Ajout#}
        <tr class="table-light border-top border-dark">
            <td><em></em></td>
            <td class="text-muted"><em>Ajouter un nouveau campus...</em></td>
            <td class="text-center">
                <a href="{{ path('campus_create') }}" class="btn btn-sm btn-success w-70">
                    <i class="bi bi-plus-circle"></i> Ajouter
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}

