<h1>Liste des utilisateurs</h1>

<form method="get">
    <label>
        <input type="text" name="q" value="{{ search }}" placeholder="Rechercher un utilisateur">
    </label>
    <button type="submit">Rechercher</button>
</form>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Rôles</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.roles|join(', ') }}</td>
            <td>
                <form method="post"
                      action="{{ path('admin_delete', {id:user.id}) }}"
                      style="display:inline"
                      onsubmit="return confirm('Supprimer cet utilisateurs ?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                 <button type="submit">Supprimer</button>
                </form>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="5">Aucun utilisateur trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
