<header>
    <div class="header-container glass-panel">
        <a href="{{ path('app_home') }}">
            <h1 class="logo-title">Sortir.com</h1>
        </a>
        <nav class="navbar">
            <ul class="nav-links">
                <li>
                    <a href="{{ path('app_home') }}"
                       class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}">
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="{{ path('events_create') }}"
                       class="{{ app.request.attributes.get('_route') == 'events_create' ? 'active' : '' }}">
                        Créer un évènement
                    </a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="{{ path('campus_campus_list') }}"
                       class="{{ app.request.attributes.get('_route') == 'campus_campus_list' ? 'active' : '' }}">
                        Campus
                    </a>
                </li>
                <li>
                    <a href="{{ path('user_list')}}"
                       class="{{ app.request.attributes.get('_route') == 'user_list' ? 'active' : '' }}">
                        Gestion des Profils
                    </a>
                </li>
                {% endif %}
                    <li>
                        {% if app.user %}
                            <a href="{{ path('user_details', {id: app.user.id}) }}"
                               class="{{ app.request.attributes.get('_route') == 'user_details' ? 'active' : '' }}">
                                Profil : {{ app.user.alias }}
                            </a>
                    </li>
                    <li>
                        <a href="{{ path('app_logout') }}"
                           class="btn btn-danger btn-sm"
                        onclick="return confirm('Êtes-vous sûr de vouloir vous déconnecter ?');">
                            Déconnexion
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm">
                            Connexion
                        </a>
                    {% endif %}
                    </li>

            </ul>
        </nav>
    </div>
</header>
