<header>
    <div class="header-container glass-panel">
        <a href="{{ path('app_home') }}">
            <h1 class="logo-title">Sortir.com</h1>
        </a>
        <nav class="navbar">
            <ul class="nav-links">
                <li>
                    <a href="{{ path('app_home') }}"
                       class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }}">
                        Accueil
                    </a>
                </li>
                <li>
                    <a href="{{ path('cities_city_list') }}"
                       class="{{ app.request.attributes.get('_route') == 'cities_city_list' ? 'active' : '' }}">
                        Villes
                    </a>
                </li>
                <li>
                    <a href="{{ path('campus_campus_list') }}"
                       class="{{ app.request.attributes.get('_route') == 'campus_campus_list' ? 'active' : '' }}">
                        Campus
                    </a>
                </li>
                <li>
                    {% if app.user %}
                        <span>Bonjour, {{ app.user.alias }}</span>

                        <a href="{{ path('app_logout') }}" class="btn btn-danger btn-sm">
                            Déconnexion
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-primary btn-sm">
                            Connexion
                        </a>
                    {% endif %}
                </li>
{#                <li>#}
{#                    <a href="{{ path('app_login') }}"#}
{#                       class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">#}
{#                        Se connecter#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </nav>
    </div>
</header>
